:root {
  --primary: #1f160d;
  --lightprimary: #402f1d;
}
* {
  font-family: "Montserrat", sans-serif;
}
body,
html {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none !important;
  color: var(--primary);
}

.nav_item {
  font-weight: bold;
  color: var(--primary);
}
.flex_container {
  display: flex;
  gap: 30px;
}
.justifer_navbar {
  justify-content: space-between;
}
.navbar {
  background: gray;
  padding: 20px;
}
.profile_image {
  height: 400px;
  width: 400px;
  background: blue;
  border-radius: 50%;
  background: url("./../images/unnamed.jpg");
  background-size: cover;
  background-position: center;
}
.primary_button {
  cursor: pointer;
  margin-top: 10px;
  padding: 15px;
  border-radius: 15px;
  border: none;
  background: var(--lightprimary);
  color: white;
  font-weight: bolder;
  box-shadow: 5px 5px 5px 5px rgb(66, 64, 64);
}
