:root {
  --primary: #1f160d;
  --lightprimary: #402f1d;
}
* {
  font-family: "Montserrat", sans-serif;
}
body,
html {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none !important;
  color: var(--primary);
}
.navbar {
  background: gray;
  padding: 20px;
}
.nav_item {
  font-weight: bold;
  color: var(--primary);
}
.flex_container {
  display: flex;
  gap: 25px;
}
.justifer_navbar {
  justify-content: space-between;
}
